/*header*/
.navbar{
    text-align: left;
    padding: 0;
    margin: 0;
    margin-top: -15px;
    margin-left: 5px;
    background-color: #FFF;
}
.navbar img{
    width: 10rem;
    height: 10vh;
    margin-top: 0px;
} 
/*header*/

/*body*/

.summary {
    padding: 5px;
    margin: 0;
    margin-left: 0px;
    background-color: antiquewhite;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: bold;
    width: 100%;
    margin-top: -30px;
    height: 9.5vh;
}

table, th, td {
    border: 1px solid #000;
    border-collapse: collapse;
    margin-left: 770px;
    margin-top: 200px;
    width: fit-content;
    height: 3vh;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
footer{
    height: 7vh;
    text-align: center;
    justify-content: end;
    background-color: antiquewhite;
    color: black;
    margin-top: 375px;
    font-size: 15px;
    font-weight: 100;
    font-style: bold;
}
